<div class="jumbotron">
  <h1 class="display-3"> <%= @user.username %> </h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Chores below</p>
  <p> Get em done, you are running out of time</p>
  <p class="lead">
  <div class="col-md-4">
      <%= link_to "New Chore", new_user_item_path(@user, @item), class: 'btn btn-success' %>
  </div>
  </p>
</div>
<div class="col-md-4">
    <h2> To-do List </h2>
    <p>
      <% @items.each do |item| %>
      <ul>
        <li> <%= item.name %> </li>
      </ul>
    </p>
    <% end %>
</div>
