<div class="jumbotron">
  <h1 class="display-3"> <%= @user.username %> </h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Chores below</p>
  <p> Get em done, you are running out of time</p>
  <p class="lead">
  </p>

</div>
