<div class="media">
   <div class="media-body">
     <ul>
       <li><p><%= item.name %> <%= link_to "complete", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %></p></li>
     </ul>
   </div>
</div>
